.input-group-text{
    padding: 0.375rem 0.75rem !important;
}

.main__ingreso section{
    background-color: rgba(255, 255, 255, 0.582);
}
.modal-body{
    max-width: fit-content;
}
.modal-dialog{
    width: 500px;
}